<div class="flex flex-col gap-5 h-fit min-w-[20rem]">
  <div class="">
    <h1 class="font-ubuntu font-bold text-3xl">Regístrate</h1>
    <h1 class="font-ubuntu text-xl">en AsisPay</h1>
  </div>
  <form nz-form nzLayout="vertical" [formGroup]="registerForm" class="flex flex-col gap-1">

    <!-- Email input -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon="mail" class="p-3 font-NotoSans text-lg border-venice-blue-500">
          <input type="email" formControlName="email" nz-input placeholder="Dirección de correo" class="ml-1" />
        </nz-input-group>
        <ng-template #emailErrorTpl let-registerForm>
          <ng-container *ngIf="registerForm.hasError('email')">La dirección no es válida</ng-container>
          <ng-container *ngIf="registerForm.hasError('required')">Ingresa una direccion</ng-container>
          <ng-container *ngIf="registerForm.hasError('confirm') && !registerForm.hasError('email')">Las direcciones no
            coinciden</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon="mail" class="p-3 font-NotoSans text-lg border-venice-blue-500">
          <input type="email" formControlName="confirmEmail" nz-input placeholder="Dirección de correo" class="ml-1" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Email input -->

    <!-- Password input -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passwordErrorTpl">
        <nz-input-group nzPrefixIcon="lock" class="p-3 font-NotoSans text-lg border-venice-blue-500">
          <input type="password" formControlName="password" nz-input placeholder="Contraseña " class="ml-1" />
        </nz-input-group>
        <ng-template #passwordErrorTpl let-registerForm>
          <ng-container *ngIf="registerForm.hasError('required')">Ingresa una contraseña</ng-container>
          <ng-container *ngIf="registerForm.hasError('minlength')">Minimo 8 Caracteres <br></ng-container>
          <ng-container *ngIf="registerForm.hasError('confirm')">Las contraseñas no coinciden</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passwordErrorTpl">
        <nz-input-group nzPrefixIcon="lock" class="p-3 font-NotoSans text-lg border-venice-blue-500">
          <input type="password" formControlName="confirmPassword" nz-input placeholder="Confirmar Contraseña" class="ml-1" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Password input -->

    <!-- Firstname and Lastname input -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Ingresa un Nombre">
        <nz-input-group nzPrefixIcon="user" class="p-3 font-NotoSans text-lg border-venice-blue-500">
          <input formControlName="firstname" nz-input placeholder="Nombre" class="ml-1" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Ingresa un Apellido">
        <nz-input-group nzPrefixIcon="user" class="p-3 font-NotoSans text-lg border-venice-blue-500">
          <input formControlName="lastname" nz-input placeholder="Apellido" class="ml-1" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Firstname and Lastname input -->

    <!--
      <nz-input-group nzBorderless class="p-3 font-NotoSans text-lg border-venice-blue-500" [nzPrefix]="prefixEmail">
      <input type="email" nz-input placeholder="Confirmar dirección de correo" formControlName="confirmEmail" />
    </nz-input-group>
    <nz-input-group nzBorderless class="p-3 font-NotoSans text-lg border-venice-blue-500" [nzPrefix]="prefixUser">
      <input type="text" nz-input placeholder="Nombre" formControlName="firstname" />
      <ng-template #prefixUser><span nz-icon nzType="user" class="mr-3"></span></ng-template>
    </nz-input-group>
    <nz-input-group nzBorderless class="p-3 font-NotoSans text-lg border-venice-blue-500" [nzPrefix]="prefixUser">
      <input type="text" nz-input placeholder="Apellido" formControlName="lastname" />
    </nz-input-group>
    <nz-input-group nzBorderless class="p-3 font-NotoSans text-lg border-venice-blue-500" [nzPrefix]="prefixPassword">
      <input type="password" nz- nz-input placeholder="Contraseña" formControlName="password" />
      <ng-template #prefixPassword><span nz-icon nzType="lock" class="mr-3"></span></ng-template>
    </nz-input-group>
    <nz-input-group nzBorderless class="p-3 font-NotoSans text-lg border-venice-blue-500" [nzPrefix]="prefixPassword">
      <input type="password" nz- nz-input placeholder="Confirmar contraseña" formControlName="confirmPassword" />
    </nz-input-group>
    <div *ngIf="passwordMatchError">
      Password does not match
    </div> -->
  </form>
  <button nz-button nzBorderless
    class="w-full text-left bg-venice-blue-600 font-NotoSans h-12 flex flex-row justify-between items-center"
    nzType="primary" [disabled]="registerForm.invalid" (click)="signup()">Registrarse <span nz-icon
      nzType="double-right"></span></button>
  <p>
    ¿Ya sos usuario? - <a class="text-venice-blue-50 inline" routerLink="../login">Inicia sesión acá</a>
  </p>
</div>

<ng-template #notification>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <span nz-icon nzType="exclamation-circle" class="text-red-500"></span>
      </span>
      <div class="ant-notification-notice-message">Revisá tus credenciales</div>
      <div class="ant-notification-notice-description">
        {{message}}
      </div>
    </div>
  </div>
</ng-template>
