
<div class="flex flex-col gap-5 h-fit min-w-[20rem]">
  <div class="">
    <h1 class="font-ubuntu font-bold text-3xl">Iniciar sesión</h1>
    <h1 class="font-ubuntu text-xl">en AsisPay</h1>
  </div>
<form [formGroup]="loginForm">
  <nz-input-group nzBorderless class="p-3 font-NotoSans text-lg border-venice-blue-500" [nzPrefix]="prefixEmail">
    <input type="email" nz-input placeholder="Dirección de correo" formControlName="email" />
    <ng-template #prefixEmail><span nz-icon nzType="mail" class="mr-3"></span></ng-template>
  </nz-input-group>
  <br />
  <br />
  <nz-input-group nzBorderless class="p-3 font-NotoSans text-lg border-venice-blue-500"
    [nzPrefix]="prefixPassword">
    <input type="password" nz-input placeholder="Contraseña" formControlName="password"  />
    <ng-template #prefixPassword><span nz-icon nzType="lock" class="mr-3"></span></ng-template>
  </nz-input-group>
  <br>
  <br>
  <button nz-button nzBorderless
  class="w-full text-left bg-venice-blue-600 font-NotoSans h-12 flex flex-row justify-between items-center"
  nzType="primary" [disabled]="loginForm.invalid" (click)="login()">Iniciar Sesión <span nz-icon nzType="double-right"></span></button>
  <br>
  ¿No tenés usuario? - <a class="text-venice-blue-50" routerLink="/register">Regístrate acá</a>
</form>
</div>

<ng-template #notification>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <span nz-icon nzType="exclamation-circle" class="text-red-500"></span>
      </span>
      <div class="ant-notification-notice-message">Revisá tus credenciales</div>
      <div class="ant-notification-notice-description">
        {{message}}
      </div>
    </div>
  </div>
</ng-template>
